{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<div>
  <div>
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">관리자 메인 리스트</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">

            <tr>
              <h5 class="mb-0">주최기관 리스트</h5>
              <th scope="col">주최기관 명</th>
              <th scope="col">담당자</th>
              <th scope="col">담당자 연락처</th>
              <th scope="col">페스티벌 명</th>
              <th scope="col">기간</th>
              <th scope="col">장소</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for datas in data_list %}
            <tr>
              <td style="display:none">
                {{ datas[7] }}
              </td>
              <td>
                {{ datas[2] }}
              </td>
              <td>
                {{ datas[0] }}
              </td>
              <td>
                {{ datas[1] }}
              </td>
              <td>
                {{ datas[3] }}
              </td>
              <td>
                {{ datas[4] }}
              </td>
              <td>
                {{ datas[5] }}
              </td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" id="execute">삭제</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" id="ftv">페스티벌명</th>
              <th scope="col" id="store_num">참여가게 수</th>
              <th scope="col" id="tto">총 주문 건수</th>
            </tr>
          </thead>
          <tbody>
            {% for datas in festival_data %}
            <tr>
              <th scope="row">
                {{ datas[1] }}
              </th>
              <td>
                {{ datas[2] }}
              </td>
              <td>
                {{ datas[3] }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

<script>
  // 주최자 삭제 버튼
  $("[id^=execute]").click(function () {
    var cell = $(this).closest('td')
    console.log(cell[0].parentNode)
    var cellIndex = cell[0].parentNode.cells[0]
    console.log(cellIndex)
    var festival_id = cellIndex.firstChild.data.split(" ").join('');
    console.log(festival_id)
    var postdata = {
      'festival_id': festival_id
    }
    $.ajax({
      type: 'POST',
      url: '/admin_delete',
      data: JSON.stringify(postdata),
      dataType: 'JSON',
      contentType: "application/json",
      success: function (data) {
        alert("성공");
        window.location = 'admin'
      },
      error: function (request, status, error) {
        alert(error);
        console.log(postdata);
      }
    })
  })
  // url 이동
  $("[id^=go").click(function () {
    var cell = $(this).closest('td')
    var cellIndex = cell[0].parentNode.cells[3]
    var url = cellIndex.firstChild.data.split(" ").join('');
    window.open(url);
  })
</script>
{% endblock javascripts %}