  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">주문 하기</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table">
              <!-- action="/insert" -->
              <form>
                
                <tbody>
                    <th>
                        <td style="width:10%;padding-right:5px">메뉴</td>
                        <td style="padding-left:5px">가격</td>
                    </th>
                    <tr>
                      <td style="width:10%;padding-right:5px">치킨</td>
                      <td style="padding-left:5px">15000</td>
                      <td><input type="checkbox" class="get_value"  name="chicken" id="menu"></td>
                  </tr>
                  <tr>
                    <td style="width:10%;padding-right:5px">똥집</td>
                    <td style="padding-left:5px">5100</td>
                    <td><input type="checkbox" class="get_value"  name="ddong" id="menu"></td>
                </tr>
                </tbody>
                
                <div class="btn btn-link" id="submit" onclick="menuPost()">장바구니</div>
                <!-- <button class= "btn btn-link" id="submit" onclick="menuPost()">장바구니</button> -->
              </form>
            </table>
          </div>
        </div>
      </div>
    </div>


<script>
  function menuPost() {
    const value = document.getElementsByClassName("get_value");
    // console.log(value[0].checked)
    for (let element of value) {
      console.log(element.name,element.checked)
      fetch('http://localhost:5000/insert', {
        method: "POST",
        // headers: {
        //   'Content-Type': 'application/json',
        // },
        // body: JSON.stringify(data),
        body: "hi",
      })
        .then(function(response) {
          return response.json();
        })
        .then(function(myJson) {
          console.log(JSON.stringify(myJson));
        });
    }
  }
</script>

<!-- <script> 이건 원본코드... 
  $(document).ready(function() {
      $('#submit').click(function() {
          var insert = [];
          $('.get_value').each(function() {
              if ($(this).is(":checked")) {
                  insert.push($(this).val());
              }
          });
                     
          $.ajax({
              method: "POST",
              url: "/insert",
              data: insert,
              cache: false,
              success: function(data){    
                $("#result").html(data);
              },
              error: function (request, status, error) {
                alert(error);
            }
          });
      });
  });
</script> -->

<!--여기 데이터가 {"menu":"치킨", "menu":"clzls2"}-->
<!-- <script>
  $(document).ready(function() {
      $('#submit').click(function() {
          var menu = $('#menu').val();
          $('.get_value').each(function ()
          {
            if ($(this).is(":checked")) {
              mybox = {'menu':menu};
              console.log(1, mybox);
            }
          });
          $.ajax({
              method: "POST",
              url: "/insert",
              data: JSON.stringify(mybox),
              contentType: "application/json",
              success: function(data){    
                $("#result").html(data);
              },
              error: function (request, status, error) {
                console.log(2, mybox);
                alert(error);
            }
          });
      });
  });
</script>  -->

