{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">페스티벌 현황 조회</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Default</li>
                </ol>
              </nav>
          <!-- Card stats -->
            </div>
          </div>
        </div>
      </div>
    </div> 

    <!-- Page content -->
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">페스티벌별 실적 보기</h3>
                </div>
                <div class="col text-right">
                  <a href=#! class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" id="ftv">페스티벌명</th>
                    <th scope="col" id="store_num">참여가게 수</th>
                    <th scope="col" id="tti">참여 가게 총 매출</th>
                    <th scope="col" id="tto">총 주문 건수</th>
                  </tr>
                </thead>
                <tbody>
                  {% for datas in data_list %}
                  <tr>
                    <th scope="row">
                      {{ datas[1] }}
                    </th>
                    <td>
                      {{ datas[2] }}
                    </td>
                    <td>
                      {{ datas[3] }}
                    </td>
                    <td>
                      {{ datas[4] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}


<script>
  $('#execute').click(function () {
    let ftv = $('#ftv').val();
    let store_num = $('#store_num').val();
    let tti = $('#ttie').val();
    let tto= $('#tto').val();

    var post_data = {
      'ftv': ftv,
      'store_num': store_num,
      'tti': tti,
      'tto': tto
    }

    $.ajax({
      type: "GET",
      url: "/jan_festival",
      data: JSON.stringify(post_data),
      dataType: 'JSON',
      contentType: "application/json",
      error: function (request, status, error) {
        alert(error);
      }
    });
  });
</script>