{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary border-0">

        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>주최기관 등록</small>
          </div>
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <input class="form-control" id="company_name" name="company_name" placeholder="주최 기관">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <input class="form-control" id="user_name" name="user_name" placeholder="담당자">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <input class="form-control" id="phone_number" name="phone_number" placeholder="담당자 연락처">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <input class="form-control" id="festival_name" name="festival_name" placeholder="페스티벌명">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <input class="form-control" id="period" name="period" placeholder="기간">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <input class="form-control" id="location" name="location" placeholder="장소">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-merge input-group-alternative">
                <input class="form-control" id="url" name="url" placeholder="주소">
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" id="execute"> 등록하기 </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  // <div class="form-group">
  //   <div class="input-group input-group-merge input-group-alternative mb-3">
  //     <input class="form-control" id="company_name" name="company_name" placeholder="주체 기관">

  //       <input class="form-control" id="user_name" name="user_name" placeholder="담당자">

  //         <input class="form-control" id="phone_number" name="phone_number" placeholder="담당자 연락처">

  //           <input class="form-control" id="period" name="period" placeholder="기간">

  //             <input class="form-control" id="location" name="location" placeholder="장소">
  //             </div>
  //           </div>
  $('#go').click(function () {
    var company_name = $('#company_name').val();
    var user_name = $('#user_name').val();
    var phone_number = $('#phone_number').val();
    var festival_name = $('#festival_name').val();
    var period = $('#period').val();
    var location = $('#location').val();
    var url = $('#url').val();


    var postdata = {
      'company_name': company_name, 'user_name': user_name, 'phone_number': phone_number, 'period': period,
      'festival_name': festival_name, 'location ': location, 'url': url
    }
    $.ajax({
      type: 'POST',
      url: '/myajax_festival_insert',
      data: JSON.stringify(postdata),
      dataType: 'JSON',
      contentType: "application/json",
      success: function (data) {
        window.location = 'jan_festival_using'
      },
      error: function (request, status, error) {
        alert(error);
      }
    })
  })

  $("[id^=selected]").click(function () {

    console.log("확인")

  })
</script>


{% endblock content %}

<!— Specific JS goes HERE —>
{% block javascripts %}{% endblock javascripts %}