{% extends 'layouts/base.html' %}

{% block title %} 주문하기 {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">주문 하기</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort">메뉴</th>
                  <th scope="col" class="sort">가격</th>
                  <th scope="col">선택하기</th>
                </tr>
              </thead>
              <tbody class="list">
              <form form action="/insert" method="POST">
                {% for datas in data_list%}
                <tbody>
                    <tr>
                        <td style="width:10%;padding-right:5px">{{datas[0]}}</td>
                        <td style="padding-left:5px">{{datas[1]}}</td>
                        <td><input type="checkbox" class="get_value" name="datas" value="{{datas[0]}}"></td>
                    </tr>
                </tbody>
                {% endfor %}
                <button class= "btn btn-link" type="submit">장바구니 담기</button>
              </form>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  $(document).ready(function() {
      $('#submit').click(function() {
          var insert = [];
          $('.get_value').each(function() {
              if ($(this).is(":checked")) {
                  insert.push($(this).val());
              }
          });
                     
          $.ajax({
              method: "POST",
              url: "/insert",
              data: insert,
              cache: false,
              success: function(data){    
                $("#result").html(data);
              },
              error: function (request, status, error) {
                alert(error);
            }
          });
      });
  });
</script>
{% endblock javascripts %}
