{% extends 'layouts/base.html' %}

{% block title %} 주문하기 {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Tables</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Tables</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">주문 하기</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table id="example-table-1" class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort">음식 Category</th>
                  <th scope="col" class="sort">음식점 갯수</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for datas in data_list %}
                <!-- <tr onClick="location.href='/storelist'" style="cursor:pointer;"> -->
                <tr>
                  <td>
                      <a href="{{ datas[2] }}">
                        {{ datas[0] }}<!--카테고리-->
                      </a>
                    </td>
                    <td>
                        {{ datas[1] }} <!--음식점 갯수-->
                    </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

Specific JS goes HERE 
{% block javascripts %}
<!-- 테이블 row 클릭 시 내보내야함 --> 
<!-- <script type="text/javascript">
  $("#example-table-1 tr").click(function(){ 	
  
      var str = ""
      var tdArr = new Array();	// 배열 선언
      
      // 현재 클릭된 Row(<tr>)
      var tr = $(this);
      var td = tr.children();
      
      // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
      console.log("클릭한 Row의 모든 데이터 : "+tr.text());
      
      // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
      td.each(function(i){
          tdArr.push(td.eq(i).text());
      });
      
      console.log("배열에 담긴 값 : "+tdArr);
      
      // td.eq(index)를 통해 값을 가져올 수도 있다.
      var category = td.eq(0).text();
      var store_count = td.eq(1).text();
      
      
      str +=	" * 클릭된 Row의 td값 = 카테고리 : <font color='red'>" + category + "</font>" +
              ", 가게수 : <font color='red'>" + store_count + "</font>";		
      
      $("#ex1_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());		
      $("#ex1_Result2").html(str);
  });
  </script> -->
{% endblock javascripts %}
