{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<div>
  <div>
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">총 음식별 정보</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">

            <tr>
              <th scope="col">음식 이름</th>
              <th scope="col">총 판매 수량</th>
              <th scope="col">총 가격</th>
            </tr>
          </thead>
          <tbody>
            {% for datas in data_list %}
            <tr>
              <td>
                {{ datas[0] }}
              </td>
              <td>
                {{ datas[2] }}
              </td>
              <td>
                {{ datas[1] }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!— Specific JS goes HERE —>
  {% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  {% endblock javascripts %}