{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<div>
  <div>
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
            <h3 class="mb-0">주최자 관리 리스트</h3>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">페스티벌 명</th>
              <th scope="col">기간</th>
              <th scope="col">장소</th>
              <th scope="col">URL</th>
              <th scope="col">정보 조회 바로가기</th>
              <th><button type="button" class="btn btn-primary btn-sm" id="add"> 추가하기 </button></th>
            </tr>
          </thead>
          <tbody>
            {% for datas in data_list %}
            <tr>
              <td>
                {{ datas[3] }}
              </td>
              <td>
                {{ datas[4] }}
              </td>
              <td>
                {{ datas[5] }}
              </td>
              <td>
                {{ datas[6] }}
              </td>
              <td>
                <button type="button" class="btn btn-primary btn-sm" id="go">바로가기</button>
              </td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" id="execute">삭제</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">순서</th>
              <th scope="col">가게 이름</th>
              <th scope="col">설명</th>
              <th scope="col">핸드폰 번호</th>
              <th scope="col">종류</th>
              <th scope="col">사업자 번호</th>
              <th scope="col">구역</th>
              <th scope="col">등록 시간</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for s_datas in data_list2 %}
            <tr>
              <td id="store_id" class="store_id">{{ s_datas[0] }}</td>
              <td>
                {{ s_datas[2] }}
              </td>
              <td>
                {{ s_datas[3] }}
              </td>
              <td>
                {{ s_datas[5] }}
              </td>
              <td>
                {{ s_datas[4] }}
              </td>
              <td>
                {{ s_datas[6] }}
              </td>
              <td>
                {{ s_datas[7] }}
              </td>
              <td>
                {{ s_datas[8] }}
              </td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" id="s_execute">삭제</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

<script>
  $("[id^=add").click(function () {
    window.location = 'festival_add'

  })

  // 페스티벌 정보 삭제
  $("[id^=execute]").click(function () {
    
  })
  
  // 가게 정보 삭제
  $("[id^=s_execute]").click(function () {

    var cell = $(this).closest('td')
    var cellIndex = cell[0].parentNode.cells[0]
    var store_id = cellIndex.firstChild.data

    var postdata = {
      'store_id': store_id
    }
    $.ajax({
      type: 'POST',
      url: '/seller_store_delete',
      data: JSON.stringify(postdata),
      dataType: 'JSON',
      contentType: "application/json",
      success: function (data) {
        alert("성공");
        window.location = 'manager'
      },
      error: function (request, status, error) {
        alert(error);
        console.log(postdata);
      }
    })
  })
</script>
{% endblock javascripts %}