{% extends 'layouts/base.html' %}

{% block title %} 주문하기 {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">주문 상세 페이지</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="/index_login"><i class="fas fa-home"></i></a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">주문 상세</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" id="ftv">가게 이름</th>
                  <th scope="col" id="store_num">총 가격</th>
                  <th scope="col" id="tti">위치</th>
                  <th scope="col" id="tto">주문 상태</th>
                </tr>
              </thead>
              <tbody>
                {% for datas in data_list %}
                  <tr>
                    <td>
                      {{ datas[0] }}
                    </td>
                    <td>
                      {{ datas[2] }}
                    </td>
                    <td>
                      {{ datas[1] }}
                    </td>
                    <td>
                      {{ datas[3] }}
                  </td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
