{% extends 'layouts/base.html' %}

{% block title %} 주문하기 {% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">메뉴 선택하기</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="/index_login"><i class="fas fa-home"></i></a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">주문 하기</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table">
            <!-- action="/insert" -->
            <tr>
              <th>메뉴이름</th>
              <th>가격</th>
              <th>수량</th>
              <th>선택</th>
            </tr>
            <form>
              {% for datas in data_list%}
              <tbody>
                <tr>
                  <td style="display:none;">{{datas[0]}}</td>
                  <td style="width:10%;padding-right:5px">{{datas[1]}}</td>
                  <td style="padding-left:5px">{{datas[2]}}</td>
                  <td><input type="number" class="qtyInput" name="qty" size="2" min="1" max="100" value=1></td>
                  <td><input type="checkbox" class="orderInput" name="{{datas[0]}}"></td>
                </tr>
              </tbody>
              {% endfor %}
            </form>
          </table>
          <button type="button" class="btn btn-outline-primary" style="margin: 10px;float: right; margin-right: 45%"
            onclick="menuPost()">결제하기</button>
        </div>
      </div>
    </div>
  </div>


  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script>
  const END_POINT_API = "http://127.0.0.1:5005";

  function menuPost() {
    const orderInput = document.getElementsByClassName("orderInput");
    const qty = document.getElementsByClassName("qtyInput");
    let id = window.location.pathname.split("/").pop();
    let checkedValue = [];
    let data = {};
    let checkconfirm = 0;
    //alert(id);

    console.log(checkedValue)
    for (var i = 0; i < orderInput.length; i++) {
      if (orderInput[i].checked) {
        checkedValue.push({ [orderInput[i].name]: qty[i].value });
        console.log(checkedValue[i]);
        checkconfirm += 1;
      }
    }

    data = {
      //"id": checkedValue
      [id]: checkedValue
    }
    // console.log(data)

    fetch(END_POINT_API + '/order_insert', {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(data),
    })
      .then((response) => {
        console.log(response.status);
        if (!checkconfirm) {
          alert("메뉴를 선택해주세요")
        }
        else if (response.status === 200) {
          if (confirm("결제하기로 이동하시겠습니까?") == true) {
            window.location.href = "/order";
          }
          else {
            window.location.href = window.location.href;
          }
        }
      })
      .catch(err => {
        alert("실패")
        console.log(err)
      })
  }
</script>
{% endblock javascripts %}
