{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>

<!-- Page content -->
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary border-0">

                <div class="card-body px-lg-5 py-lg-5">
                    <div class="text-center text-muted mb-4">
                        <small>판매자 등록</small>
                    </div>
                    <form role="form">
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <input class="form-control" id="festival_id" name="festival_id" placeholder="페스티벌 아이디">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative mb-3">
                                <input class="form-control" id="store_name" name="store_name" placeholder="가게 이름">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <input class="form-control" id="store_description" name="store_description"
                                    placeholder="설명">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <input class="form-control" id="contact_number" name="contact_number"
                                    placeholder="핸드폰 번호">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <input class="form-control" id="category" name="category" placeholder="종류">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <input class="form-control" id="license_number" name="license_number"
                                    placeholder="사업자 전화번호">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <input class="form-control" id="location_number" name="location_number"
                                    placeholder="구역">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary mt-4" id="execute">등록하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#execute').click(function () {
        var festival_id = $('#festival_id').val();
        var store_name = $('#store_name').val();
        var store_description = $('#store_description').val();
        var contact_number = $('#contact_number').val();
        var category = $('#category').val();
        var license_number = $('#license_number').val();
        var location_number = $('#location_number').val();

        var postdata = {
            'festival_id': festival_id, 'store_name': store_name, 'store_description': store_description, 'contact_number': contact_number,
            'category': category, 'license_number': license_number, 'location_number': location_number
        }
        $.ajax({
            type: 'POST',
            url: '/myajax_store_insert',
            data: JSON.stringify(postdata),
            dataType: 'JSON',
            contentType: "application/json",
            success: function (data) {
                window.location = 'store_info'
            },
            error: function (request, status, error) {
                alert(error);
            }
        })
    })
</script>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}