{% extends 'layouts/base_init.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">개발의 민족</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="/index"><i class="fas fa-home"></i></a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">페스티벌 선택하기</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">주최기관</th>
                    <th scope="col">페스티벌명</th>
                    <th scope="col">기간</th>
                    <th scope="col">장소</th>
                    <th scope="col">홈페이지</th>
                    <th scope="col">가게 보러가기</th>
                  </tr>
                </thead>
                <tbody>
                  {% for datas in data_list %}
                  <tr>
                    <th scope="row">{{ datas[2] }}</th>
                    <td>{{ datas[3] }}</td>
                    <td>{{ datas[4] }}</td>
                    <td>{{ datas[5] }}</td>
                    <td><a href="{{ datas[6] }}">{{ datas[6] }}</td>
                    <td><a href="/login_user" class="btn btn-sm btn-primary">음식주문</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
