
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="text-center text-xl-left text-muted">
              <a target="_blank"
                 href=#! 
                 class="font-weight-bold ml-1" target="_blank">개발의 민족 프로젝트</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
              <a href=#! 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Creative-개발의 민족</a> 
                 - coded by <a target="_blank" href="https://github.com/Dev-People-Project">Us</a>
            </div>
          </div>
        </div>
      </footer>
